<template>
  <div class="h-full text-gray-900">
    <div class="h-full">
      <div class="h-full flex flex-col">
        <div class="p-4 flex justify-between items-end shadow">
          <div>
            <div class="font-medium">#ionic-questions</div>
            <div class="flex">
              <div class="text-sm text-gray-700 font-normal px-2 border-r-2">10403</div>
              <div class="text-sm text-gray-700 font-normal px-2 border-r-2">1</div>
              <div class="text-sm text-gray-700 font-normal px-2">Community Q&A</div>
            </div>
          </div>
          <div class="text-sm text-gray-700 font-normal">Details</div>
        </div>
        <div class="flex-1 flex flex-col">
          <div class="px-4 flex-1">
            <div class="flex flex-col">
              <div class="flex-1">
                <div class="my-2">
                  <div class="flex">
                    <div class="mr-3">
                      <img class="w-16 h-16 object-cover rounded-full" src="https://conceptodefinicion.de/wp-content/uploads/2015/03/hombre.jpg" alt="">
                    </div>
                    <div class="flex-1">
                      <div class="ml-1 flex items-end">
                        <div class="font-medium mr-2 leading-none capitalize">Alex jaramillo</div>
                        <div class="text-gray-600 text-xs leading-none">11:27am</div>
                      </div>
                      <div class="text-sm">
                        <div class="flex">
                          <div class="inline-block my-1 px-2 py-1 bg-gray-200 rounded-md text-gray-800 leading-tight sm:max-w-md">que mas marlon parce, quiere trabajar por 15millones? te pagamos todos los cursos y te damos pc y escritorio nuevo</div>
                        </div>
                        <div class="flex">
                          <div class="inline-block my-1 px-2 py-1 bg-gray-200 rounded-md text-gray-800 leading-tight sm:max-w-md">lo mejor de todo, no tiene que hacer prueba. Ya me han hablado de vos y creo que sos el indicado para el trabajo. Que bien que abandonaste laravel y te pasaste para django. Ahi aprendiste python y diste un paso adelante en tu carrera</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="my-2">
                  <div class="flex">
                    <div class="mr-3 w-16"></div>
                    <div class="flex-1">
                      <div class="mr-1 flex items-end justify-end">
                        <div class="font-medium mr-2 leading-none capitalize">marlon gomez</div>
                        <div class="text-gray-600 text-xs leading-none">11:27am</div>
                      </div>
                      <div class="text-sm">
                        <div class="flex justify-end">
                          <div class="inline-block text-right my-1 px-2 py-1 bg-green-200 rounded-md text-gray-800 leading-tight sm:max-w-md">uuuuuuu queeeeeeee</div>
                        </div>
                        <div class="flex justify-end">
                          <div class="inline-block text-right my-1 px-2 py-1 bg-green-200 rounded-md text-gray-800 leading-tight sm:max-w-md">y puedo trabajar desde la casa?</div>
                        </div>
                        <div class="flex justify-end">
                          <div class="inline-block text-right my-1 px-2 py-1 bg-green-200 rounded-md text-gray-800 leading-tight sm:max-w-md">y puedo solamente trabajar 3 dias a la semana?</div>
                        </div>
                        <div class="flex justify-end">
                          <div class="inline-block text-right my-1 px-2 py-1 bg-green-200 rounded-md text-gray-800 leading-tight sm:max-w-md">y puedo solamente trabajar 3 dias a la semana? esto si me tiene muy emocionado, he venido buscando un trabajo que me pague toda esa plata desde hace mucho tiempo y poder dedicarme a viajar</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="my-2">
                  <div class="flex">
                    <div class="mr-3">
                      <img class="w-16 h-16 object-cover rounded-full" src="https://conceptodefinicion.de/wp-content/uploads/2015/03/hombre.jpg" alt="">
                    </div>
                    <div class="flex-1">
                      <div class="ml-1 flex items-end">
                        <div class="font-medium mr-2 leading-none capitalize">Alex jaramillo</div>
                        <div class="text-gray-600 text-xs leading-none">11:27am</div>
                      </div>
                      <div class="text-sm">
                        <div class="flex">
                          <div class="inline-block my-1 px-2 py-1 bg-gray-200 rounded-md text-gray-800 leading-tight sm:max-w-md">Pero claaaaaaaro. Tu eres lo mejor</div>
                        </div>
                        <div class="flex">
                          <div class="inline-block my-1 px-2 py-1 bg-gray-200 rounded-md text-gray-800 leading-tight sm:max-w-md">Solo tienes que renunciar ya ya ya</div>
                        </div>
                        <div class="flex">
                          <div class="inline-block my-1 px-2 py-1 bg-gray-200 rounded-md text-gray-800 leading-tight sm:max-w-md">Venir a esta isla paradisiaca</div>
                        </div>
                        <div class="flex">
                          <div class="inline-block my-1 px-2 py-1 bg-gray-200 rounded-md text-gray-800 leading-tight sm:max-w-md">Trabajar junto al mar</div>
                        </div>
                        <div class="flex">
                          <div class="inline-block my-1 px-2 py-1 bg-gray-200 rounded-md text-gray-800 leading-tight sm:max-w-md">Animate, estamos buscando un verdadero full stack, un man que sepa pero de todooooooo, front, back, devops, bases de datos</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white px-3 sticky inset-0">
            <textarea
              class="w-full p-2 text-sm text-gray-800 rounded-md border resize-none focus:outline-none focus:shadow"
              placeholder="Escribe tu mensaje aquí"
              name="chatting-area"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
